<div class="stats-container">
    <!-- Column 1 -->
    <div class="stats-column" #statBox>
        <h2>100k+</h2>
        <p>Trips Planned</p>
    </div>
  
    <!-- Column 2 -->
    <div class="stats-column" #statBox>
        <h2>75%</h2>
        <p>Repeat Travelers</p>
    </div>
  
    <!-- Column 3 -->
    <div class="stats-column" #statBox>
        <h2>600+</h2>
        <p>Missed Scenaries</p>
    </div>
  
    <!-- Column 4 -->
    <div class="stats-column" #statBox>
        <h2>40%</h2>
        <p>Don't Plan Well</p>
    </div>
  </div>
  