<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>


  <div class="area">
<footer>

  <div class="footer-container">
    <!--Quick Links-->
    <div class="footer-column">
      <h2>QUICK LINKS</h2>
      <img src="/assets/images/line.png">
      <ul>
        <li><a href="earth">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Products</a></li>
      </ul>
    </div>

    <!--People-->
    <div class="footer-column">
      <h2>TEAMMATES</h2>
      <img src="/assets/images/line.png">
      <ul>
        <li><a href="#">Sulaiman Sabry</a></li>
        <li><a href="#">Mahith Rajapaksha</a></li>
        <li><a href="#">Mindula Perera</a></li>
        <li><a href="#">Janidu Jayasekera</a></li>
        <li><a href="#">Joshua Fernando</a></li>
        <li><a href="#">Henuka De Silva</a></li>
      </ul>
      
    </div>

    <!--Contact-->
    <div class="footer-column">
      <h2>CONTACTS</h2>
      <img src="/assets/images/line.png">
      <p>
        <i class="fas fa-map-marker-alt"></i>
        No 16, Marys Road <br>
        Bambalapitiya, Colombo
      </p>
      <p>
        <i class="fas fa-phone-alt"></i>
        +076 110 3336
      </p>
    </div>
  </div>

  <!-- BOTTOM ROW -->
  <div class="footer-bottom">
    <p>© 2025 ROAMEO</p>
    <div class="social-icons">

      <a href="https://www.instagram.com/roameo.24/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>

    </div>
  </div>

</footer>

</div>