/* General Styles */
:host {
  display: block;
  background-color: black;
  color: white;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Main Container */
.about-container {
  display: flex;
  height: 100vh;
  align-items: flex-start;
}

/* Left Column  */
.about-left {
  width: 30%;
  padding: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* About Us Section */
.about-content {
  margin-top: 200px;
  max-width: 80%; /* You can adjust this width */
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-left: 20px;
}

/* Right Column */
.about-right {
  width: 70%;
  padding: 50px;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Right Column Sections Wrapper (Independent Sizing) */
.section-content {
  max-width: 80%; /* You can adjust this width */
  margin: auto;
  text-align: justify;
}

/* Sections inside the Right Column */
.about-right section {
  margin-bottom: 60px; /* Spacing between sections */
}

.about-right h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-right p {
  font-size: 1.2rem;
  line-height: 1.8;
  opacity: 0.9;
}
