* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fullscreen Background Image */
.earth {
    width: auto;
    height: 150vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.earth video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Overlay to improve text readability */
.overlay {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}


.overlay h1 {
    font-size: 5rem;
    font-weight:900;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-transform: uppercase;
    letter-spacing: -4px;

    /*Top to bottom gradient*/
    background: linear-gradient(
        to bottom,
        #ffffff 0%, /*Whiter at top*/
        #c7c8c9 50%,
        #585858 100% /*Darker in bottom*/
    );

    /*Clip gradient to text*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    height: auto;
}

.overlay p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.projects-section {
    color: #ccc;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    text-align: left;
}

.projects-section h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*Container for stats row*/
.stats-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 60px 20px;
    position: relative;

    /*Fade from left to right*/
    opacity: 0;
    transform: translate(-50px);
    animation: statsFadeIn 1s forwards ease;
}

/*Each column*/
.stats-column {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    position: relative;
    border-right: 1px solid #878787;
}

/*Remove last right border*/
.stats-column:last-child {
    border-right: none;
}

/* Headings for the stats */
.stats-column h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

/* Subheadings for the stats */
.stats-column p {
    font-size: 1rem;
    opacity: 0.7;
    margin: 0;
  }

  @keyframes statsFadeIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /*Prototype flash cards*/
.prototype-section {
    color: #ccc;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    text-align: left;
}

.prototype-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Grid design*/
.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*Individual Cards*/
.pt-card {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
}

.pt-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.pt-card:hover img {
    transform: scale(1.05);
}

