<!-- Fullscreen Background Image with Text -->
<div class="earth">
  <video autoplay loop>
    <source src="assets/images/BlackMarble_2016_rotate_720p.mp4" type="video/mp4">
    Your browser doesn't support the video tag.
  </video>
  <div class="overlay">
    <h1>ROAMEO</h1>
    <p>Reimagining the essence of your travel experience</p>
  </div>
</div>

<!--Projects Done Section-->
<div class="projects-section">
  <h2>We are an innovative<br> Trip-planning platform with a<br> dynamic approach to making travel<br> SEAMLESS & PERSONALIZED</h2>
  <div class="projects-grid">
  </div>
</div>


<!--Prototype flash cards-->
<div class="prototype-section">
  <h2>Explore our Design</h2>
  <div class="img-grid">
    <!--Card 1-->
    <div class="pt-card">
      <img src="/assets/prototype/homeD.jpg" alt="Home screen">
    </div>

    <!--Card 2-->
    <div class="pt-card">
      <img src="/assets/prototype/ideaD.jpg" alt="Ideas">
    </div>

    <!--Card 3-->
    <div class="pt-card">
      <img src="/assets/prototype/planningD.jpg" alt="Planning">
    </div>

    <!--Card 4-->
    <div class="pt-card">
      <img src="/assets/prototype/sightSeeingD.jpg" alt="Sight Seeing Screen">
    </div>
  </div>
</div>